body {
    font-family: sans-serif;
    line-height: 1.5;
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

code {
    background: #f0f0f0;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
}

button {
    margin: 0.2rem;
    padding: 0.2em 0.3em;
}

.traversal-element {
    border: solid blue 1px;
}

#html-input:focus {
    outline: solid blue 2px;
}